@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p class="h1 text-center mb-3 mt-3">API de Futbol</p>
<p class="h2 mt-2">Descripción del Proyecto</p>
<div class="card">
    <div class="card-body">
        <p>Este proyecto es una API de estadísticas deportivas, en la cual se pueden consultar partidos, resultados, equipos, jugadores, etc.</p>
        <p>La API se encuentra en la siguiente dirección: <a href="https://api.futbol.dev-mobile.net/">https://api.futbol.dev-mobile.net/</a></p>
    </div>
</div>
<p class="h2 mt-2">Documentación</p>
<p class="h3">Endpoints</p>
<div class="card">
    <div class="card-body">
        <p>La API cuenta con los siguientes endpoints:</p>
        <ul>
            <li><a href="https://api.futbol.dev-mobile.net/api/teams">Equipos</a></li>
            <li><a href="https://api.futbol.dev-mobile.net/api/players">Jugadores</a></li>
            <li><a href="https://api.futbol.dev-mobile.net/api/matches">Partidos</a></li>
            <li><a href="https://api.futbol.dev-mobile.net/api/stadiums">Estadios</a></li>
            <li><a href="https://api.futbol.dev-mobile.net/api/statistics">Estadísticas</a></li>
        </ul>
    </div>
</div>
<div class="card mt-2">
    <div class="card-header">
        <p class="h4">Players</p>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>URL</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>GET</td>
                    <td>https://api.futbol.dev-mobile.net/api/players</td>
                    <td>Obtiene todos los jugadores</td>
                </tr>
                <tr>
                    <td>GET</td>
                    <td>https://api.futbol.dev-mobile.net/api/players/{id}</td>
                    <td>Obtiene un jugador por su ID</td>
                </tr>
                <tr>
                    <td>POST</td>
                    <td>https://api.futbol.dev-mobile.net/api/players</td>
                    <td>Registra un nuevo jugador</td>
                </tr>
                <tr>
                    <td>PUT</td>
                    <td>https://api.futbol.dev-mobile.net/api/players/{id}</td>
                    <td>Actualiza un jugador por su ID</td>
                </tr>
                <tr>
                    <td>DELETE</td>
                    <td>https://api.futbol.dev-mobile.net/api/players/{id}</td>
                    <td>Elimina un jugador por su ID</td>
                </tr>
        </table>
    </div>
</div>
<p class="h3 mt-2">Datos</p>
<div class="card">
    <div class="card-body">
        <p>Actualmente la API cuenta con las siguientes cantidades de datos registrados</p>
        <ul>
            <li>Equipos: 20</li>
            <li>Jugadores: 100</li>
            <li>Partidos: 50</li>
            <li>Estadios: 10</li>
            <li>Estadísticas: 100</li>
        </ul>
    </div>
</div>