@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <img src="~/images/user_icon.png" class="rounded col-2" alt="..." height="135">
    <div class="card col-8 img-fluid mt-4">
        <div class="card-body">
            Hi. I'm a software developer with experience in web and mobile development. I have worked with technologies like C#, ASP.NET, Java, Android, and SQL Server. I have developed projects for companies like Ethan Allen and InterPC. I have also developed personal projects like a library API and a sports API. I am currently studying a degree in Computer Systems Engineering at the University of Guadalajara.
        </div>
    </div>
</div>

<h1 class="mt-4">Skills</h1>
<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Programming Languages</h3>
                <h3 class="mt-2">C#</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                </div>
                <h3 class="mt-2">Java</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
                </div>
                <h3 class="mt-2">Swift</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 5%;" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">5%</div>
                </div>
                <h3 class="mt-2">Dart</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 5%;" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">5%</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Frameworks and Technologies</h3>
                <h3 class="mt-2">ASP.NET</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
                </div>
                <h3 class="mt-2">Node JS</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">10%</div>
                </div>
                <h3 class="mt-2">React</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                </div>
                <h3 class="mt-2">Flutter</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
     <h1>Proyectos desarrollados para Ethan Allen</h1>
    <h3 class="mt-2">Mantenimiento</h3>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="~/images/ea_support.png" class="card-img-top" alt="..." height="120" width="45">
                <div class="card-body">
                    <h5 class="card-title">EA Support</h5>
                    <p class="card-text">App Android para reportar fallas en las máquinas de producciòn</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Java</small>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <img src="~/images/json_api_mantenimiento.png" class="card-img-top" alt="..." height="120" width="45">
                <div class="card-body">
                    <h5 class="card-title">API Mantenimiento</h5>
                    <p class="card-text">API Rest usada en los proyectos de EA Support y Mantenimiento web</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">C#, ASP.NET</small>
                </div>
            </div>
        </div>
    </div>

    <h3 class="mt-4">Comedores</h3>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="~/images/ea_support.png" class="card-img-top" alt="..." height="120" width="45">
                <div class="card-body">
                    <h5 class="card-title">Aplicación de Escritorio de preregistro</h5>
                    <p class="card-text">Aplicación de preregistro para el uso del comedor</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">C#</small>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <img src="~/images/json_api_mantenimiento.png" class="card-img-top" alt="..." height="120" width="45">
                <div class="card-body">
                    <h5 class="card-title">Aplicación web de Comedores</h5>
                    <p class="card-text">Web de administración de usuarios registrados para el comedor</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">C#, ASP.NET</small>
                </div>
            </div>
        </div>
    </div>

    <h3 class="mt-4">Producción</h3>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="~/images/ea_support.png" class="card-img-top" alt="..." height="120" width="45">
                <div class="card-body">
                    <h5 class="card-title">Reparaciones</h5>
                    <p class="card-text">Aplicación web para el registro y seguimiento de problemas en piezas de producción</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">C#, ASP.NET</small>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <img src="~/images/json_api_mantenimiento.png" class="card-img-top" alt="..." height="120" width="45">
                <div class="card-body">
                    <h5 class="card-title">Aplicación web de Patrones</h5>
                    <p class="card-text">Web para la identificación de patrones usados en la fabricación de muebles</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">C#, ASP.NET</small>
                </div>
            </div>
        </div>
    </div>

    <h3 class="mt-4">Administración</h3>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="~/images/ea_support.png" class="card-img-top" alt="..." height="120" width="45">
                <div class="card-body">
                    <h5 class="card-title">IT</h5>
                    <p class="card-text">Web usada para la administración de IT, personal de la planta y monitoreo</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">C#, ASP.NET</small>
                </div>
            </div>
        </div>
    </div>

    <h3 class="mt-4">Monitoreo</h3>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="~/images/ea_support.png" class="card-img-top" alt="..." height="120" width="45">
                <div class="card-body">
                    <h5 class="card-title">API de Usuarios</h5>
                    <p class="card-text">API rest para la inserción de usuarios en Dispositivos Hikvision</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">C#, ASP.NET</small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-2">
    <h1>Proyectos para InterPC</h1>
    <h3 class="mt-2">App para clientes de la plaza 3636</h3>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="~/images/ea_support.png" class="card-img-top" alt="..." height="120" width="45">
                <div class="card-body">
                    <h5 class="card-title">App 3636</h5>
                    <p class="card-text">App Android dirigida a los clientes de la plaza 3636</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Java</small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-2">
    <h1>Proyectos personales</h1>
    <h3 class="mt-2">API Biblioteca</h3>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="~/images/ea_support.png" class="card-img-top" alt="..." height="120" width="45">
                <div class="card-body">
                    <h5 class="card-title">API Rest de una Biblioteca</h5>
                    <p class="card-text">API Rest pública sobre libros, autores, etc.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">C#, ASP.NET</small>
                </div>
            </div>
        </div>
    </div>
    <h3 class="mt-2">API Deportes</h3>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="~/images/ea_support.png" class="card-img-top" alt="..." height="120" width="45">
                <div class="card-body">
                    <h5 class="card-title">API Rest de Deportes</h5>
                    <p class="card-text">API Rest sobre estadísticas deportivas, jugadores, etc.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">C#, ASP.NET</small>
                </div>
            </div>
        </div>
    </div>
</div>
