@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <p class="h1 text-center mb-3 mt-3">Mi Portafolio</p>
    <div class="card">
        <div class="card-body">
            <b>Hola, soy Daniel Falcon</b>
            <img src="~/images/icons/hand_1.png" class="ms-2" alt="..." height="45" width="45">
            <p>Hola, soy un desarrollador de Software con experiencia en Desarrollo móvil y web. He trabajado con tecnologías como C#, ASP.NET, Java, Android, Maria DB y MySQL. He desarrollado proyectos para empresas como Ethan Allen e InterPC. También he hecho proyectos personales como una API de deportes y proyectos en colaboración como una API de libros.</p>
        </div>
    </div>

    <h1 class="mt-4 col-1">Skills</h1>
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="mb-3">Programming</h3>
                    <img src="/images/skills/js.png" class="rounded" alt="..." height="45" width="45">
                    <img src="/images/skills/c_sharp.png" class="rounded ms-2" alt="..." height="45" width="45">
                    <img src="/images/skills/java_1.jpg" class="rounded ms-2" alt="..." height="45" width="45">
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="mb-3">Frameworks</h3>
                    <img src="/images/skills/net_core.png" class="rounded" alt="..." height="45" width="45">
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="mb-3">Databases</h3>
                    <img src="/images/skills/mysql.jpg" class="rounded" alt="..." height="45" width="45">
                    <img src="/images/skills/maria_db.gif" class="rounded ms-2" alt="..." height="45" width="45">
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h3>Tools</h3>
                    <img src="/images/skills/visual_studio.png" class="rounded" alt="..." height="45" width="45">
                    <img src="/images/skills/vs_code.jpg" class="rounded ms-2" alt="..." height="45" width="45">
                    <img src="/images/skills/android_studio_2.jpg" class="rounded ms-2" alt="..." height="45" width="45">
                </div>
            </div>
        </div>
    </div>
    <div>
        <h1 class="mt-4">Proyectos desarrollados para Ethan Allen</h1>
        <h3 class="mt-2">Mantenimiento</h3>
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <img src="~/images/ea_support.png" class="card-img-top" alt="..." height="150" width="45">
                    <div class="card-body">
                        <h5 class="card-title">EA Support</h5>
                        <p class="card-text">App Android para reportar fallas en las máquinas de producción.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Java</small>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <img src="~/images/json_api_mantenimiento.png" class="card-img-top" alt="..." height="150" width="45">
                    <div class="card-body">
                        <h5 class="card-title">API Mantenimiento</h5>
                        <p class="card-text">API Rest usada en los proyectos de EA Support y Mantenimiento web</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">C#, ASP.NET</small>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <img src="~/images/web_mantenimiento.png" class="card-img-top" alt="..." height="150" width="45">
                    <div class="card-body">
                        <h5 class="card-title">Mantenimiento web</h5>
                        <p class="card-text">Aplicacion web responsiva similar a EA Support</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">C#, ASP.NET</small>
                    </div>
                </div>
             </div>
        </div>


        <h3 class="mt-4">Comedores</h3>
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <img src="~/images/desktop_comedores.png" class="card-img-top" alt="..." height="150" width="45">
                    <div class="card-body">
                        <h5 class="card-title">Aplicación de Escritorio de preregistro</h5>
                        <p class="card-text">Aplicación de preregistro para el uso del comedor</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">C#</small>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <img src="~/images/web_comedores.png" class="card-img-top" alt="..." height="150" width="45">
                    <div class="card-body">
                        <h5 class="card-title">Aplicación web de Comedores</h5>
                        <p class="card-text">Web de administración de usuarios registrados para el comedor</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">C#, ASP.NET</small>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="mt-4">Producción</h3>
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <img src="~/images/reparaciones.png" class="card-img-top" alt="..." height="150" width="45">
                    <div class="card-body">
                        <h5 class="card-title">Reparaciones</h5>
                        <p class="card-text">Aplicación web para el registro y seguimiento de problemas en piezas de producción</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">C#, ASP.NET</small>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <img src="~/images/patrones_1.png" class="card-img-top" alt="..." height="150" width="45">
                    <div class="card-body">
                        <h5 class="card-title">Aplicación web de Patrones</h5>
                        <p class="card-text">Web para la identificación de patrones usados en la fabricación de muebles</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">C#, ASP.NET</small>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="mt-4">Almacén</h3>
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <img src="~/images/almacen.png" class="card-img-top" alt="..." height="150" width="45">
                    <div class="card-body">
                        <h5 class="card-title">Solicitudes de Almacén</h5>
                        <p class="card-text">Web para la solicitud de materiales de Almacén</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">C#, ASP.NET</small>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="mt-4">Administración</h3>
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <img src="~/images/it.png" class="card-img-top" alt="..." height="150" width="45">
                    <div class="card-body">
                        <h5 class="card-title">IT</h5>
                        <p class="card-text">Web usada para la administración de IT, personal de la planta y monitoreo</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">C#, ASP.NET</small>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="mt-4">Monitoreo</h3>
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <img src="~/images/hikvision_isapi.png" class="card-img-top" alt="..." height="150" width="45">
                    <div class="card-body">
                        <h5 class="card-title">API de Usuarios</h5>
                        <p class="card-text">API rest para la inserción de usuarios en Dispositivos Hikvision</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">C#, ASP.NET</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <h1 class="mt-2">Proyectos para InterPC</h1>
        <h3 class="mt-2">App para clientes de la plaza 3636</h3>
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <img src="~/images/skills/3636.png" class="card-img-top" alt="..." height="150" width="45">
                    <div class="card-body">
                        <h5 class="card-title">App 3636</h5>
                        <p class="card-text">App Android dirigida a los clientes de la plaza 3636</p>
                        <a href="https://github.com/DanielFalconGuerra/App_3636" class="float-end"><img src="~/images/icons/github.png" height="30" width="30" /></a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Java</small>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <h1>Proyectos en colaboración</h1>
        <h3 class="mt-2">API Biblioteca</h3>
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <img src="~/images/json_libros_3.png" class="card-img-top" alt="..." height="150" width="45">
                    <div class="card-body">
                        <h5 class="card-title">API Rest de una Biblioteca</h5>
                        <p class="card-text">API Rest pública sobre libros, autores, etc.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">C#, ASP.NET</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <h1>Proyectos personales</h1>
        <h3 class="mt-2">API Deportes</h3>
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <a href="/SportsAPI" class="float-end"><img src="~/images/json_api_futbol.png" class="card-img-top" alt="..." height="150" width="45"></a>
                    
                    <div class="card-body">
                        <h5 class="card-title">API Rest de Deportes</h5>
                        <p class="card-text">API Rest sobre estadísticas deportivas, jugadores, etc.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">C#, ASP.NET</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
